<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="4">
        <div class="centerHeader" style="margin-top: 30%;">
          <img src="../../assets//images/liga rei dos penaltis_Prancheta 1.png" style="width: 120px;" />
        </div>
        <h2 class="titulo"></h2>
        <ion-list lines="none">
          <ion-item class="borderInput">
            <ion-icon name="mail" color="primary" item-left> </ion-icon>
            <ion-input [(ngModel)]="usuario" type="email"> </ion-input>
          </ion-item>
          <br />
          <ion-item class="borderInput">
            <ion-icon name="lock-closed-outline" color="primary"></ion-icon>
            <ion-input [(ngModel)]="senha" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <br />
        <ion-button expand="block" fill="solid" color="primary" (click)="OnclickLogar()">
          Entrar
        </ion-button>
        <div class="link" text-center (click)="onClickRecuperarSenha()">
          Esqueceu seus dados de login?
        </div>
        <div class="link" style="font-size: 0.5em;" (click)="onClickCadastro()">
          Não tem conta?
          <b>Cadastre-se</b>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>