<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="4">
              <div class="centerimage">
                <img src="./../../assets/images/liga rei dos penaltis_Prancheta 1.png" style="height:80%;" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="4">
              <img src="./../../assets/images/goleiro.png" style="width: 50%;" />
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col>
              <b>como é feito o scout?</b>
            </ion-col>
            <ion-col>
              <ion-row>
                <h6>No caso de gol ou defesa?</h6>
                <p>O gol é separado em 6 partes, cada
                  número corresponde ao local onde foi realizada a cobrança.</p>
              </ion-row>
              <br>
              <ion-row>
                <h6>No caso de trave ou cobrança pra fora?</h6>
                <p>O gol é separado em 7 partes, cada
                  número corresponde ao local onde foi
                  realizada a cobrança.</p>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="4">
              <img src="./../../assets/images/batedor2.png" style="width: 40%;" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="4">
              <div class="centerimage">
                <img src="./../../assets/images/batedor.png" style="height:90%;" />
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="4">
              <h6>Agora é só escolher seu adversário e correr pro abraço.</h6>
              <br>
              <ion-button expand="block" fill="solid" color="primary" (click)="OnComecar()">
                COMEÇAR
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>